
.sankeyGraph{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.graphControlls{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3vh;
  width: 50%;
}
.Graph{
  max-width: 90%;
}
.paramSelect{
  flex:1;
  max-width: 50%;
  border-radius: 2vh;
}
.GraphHeader{
  display: flex;
  width: 100%;
  background-color: #555555;
  justify-content: center;
  align-items: center;
  
}
.GraphTitle{
  font-size: 2vh;
  color: #f3f3eb;

}