
.SankeyGraph{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Intro{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #555555;
  text-align: justify;
  text-justify: inter-word;
  width: 95%;
  border-radius: 2vh;
  padding-right: 1vh;
  padding-left: 1vh;
}
.IntroP{
  width: 100%;
  font-size: 2vh;
  color: #f3f3eb;
}
#sankey1{
  position: absolute;
  left: 28%;
}
#sankey2{
  position: relative;
  left: 46%;

}
#sankey3{
  position: absolute;
  right: 24%;
}
.ParamSelect{
  flex:1;
  max-width: 75%;
  border-radius: 2vh;
}
.Graph{
  flex:1;
  max-width: 800;
  justify-content: center;
  padding-bottom: 2vh;
}
.GraphHeader{
  display: flex;
  width: 100%;
  background-color: #333333;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
  
}
.GraphTitle{
  font-size: 2vh;
  color: #f3f3eb;
}
.GraphControlls{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}
.sankeyLink:hover {
  stroke-opacity: .5;
}
.nodeRectText{
  font-weight: bolder;
}

#scatterX{
  position: absolute;
  left: 25%;
}

.sankeyLinkTitle{
  text-align: center;  
  border-radius: 5vh;
}
#scatterY{
  
  position: absolute;
  right: 25%;
}