body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CFCFC4;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  display: flex;
  background-color: #333333;
  width: 100%;
  justify-content: center;
}
.HeaderP{
  color: #f3f3ebb4;
  font-size: larger;
}
.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}